.header {
    width: 100%;
    margin-bottom: 20px;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    background-image: url("../../assets/image/pngtree-soft-purple-and-pink-watercolor-paint-background-image_402197.jpg");
}